@font-face {
  font-family: 'Breeze Sans Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('./BreezeSans-Condensed/BreezeSans-Condensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Breeze Sans Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('./BreezeSans-Condensed/BreezeSans-Condensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Breeze Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./BreezeSans-Condensed/BreezeSans-Condensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Breeze Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('./BreezeSans-Condensed/BreezeSans-Condensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Breeze Sans Condensed';
  font-style: normal;
  font-weight: 200;
  font-display: block;
  src: url('./BreezeSans-Condensed/BreezeSans-Condensed-Thin.ttf') format('truetype');
}
