@font-face {
  font-family: 'Breeze Sans';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('./BreezeSans/BreezeSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Breeze Sans';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('./BreezeSans/BreezeSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Breeze Sans';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./BreezeSans/BreezeSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Breeze Sans';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('./BreezeSans/BreezeSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Breeze Sans';
  font-style: normal;
  font-weight: 200;
  font-display: block;
  src: url('./BreezeSans/BreezeSans-Thin.ttf') format('truetype');
}
