@import url(./booklet/fonts/BreezeSans.css);
/* @import url(./booklet/fonts/BreezeSans-Condensed.css); */

@import url(./booklet/typora-span-elements.css);
@import url(./booklet/typora-block-elements.css);
@import url(./booklet/typora.css);

/** Properties */
html {
  --scale: 1.231;

  --cm: calc(10mm * var(--scale));
  --rh: calc(var(--cm) / 4);

  font-size: calc(var(--cm) * 0.4) !important;
}

@media print {
  html {
    --scale: 1;
  }
}


html {
  /* */
  --text-gut: calc(var(--rh) * 0.5);
  --text-mar: calc(var(--rh) * 1.5);

  /* */
  --line-wid: 1px;
  --line-pad: calc(var(--text-mar) - var(--line-wid) / 2);

  /* */
  --prim-500: #d75e63;

  /* */
  --type-100: #293231;
  --type-500: #484848;
  --type-600: #959595;
  --type-700: #e0e0e0;
  --type-800: #eeeeee;

  --code-0: #959595;
  --code-a: #484848;
  --code-b: #d34c4b;
  --code-c: #f5845f;
  --code-d: #feb663;
  --code-e: #73b673;
  --code-f: #45acbd;
  --code-g: #7c73ce;

  /* paper outer */
  --paper-rat: 21 / 29.7; /* A4 */
  --paper-pad: calc(var(--cm) * 2); /* page padding: 70px -> 2cm */
  --paper-cut: calc(var(--cm) * 1.25); /* page overflow: 60px -> 1.5cm */
  --paper-wid: calc(var(--cm) * 21); /* page width: 840px -> 21cm */
  --paper-hei: calc(var(--paper-wid) * var(--paper-rat));

  /* paper inner */
  /* --paper-spl: 1.875rem; */ /* split between columns */
  --paper-spl: calc(var(--rh) * 3);
  --paper-mar: 0.625rem; /* margin between sections */
  /*--paper-gut: 0.75rem;*/ /* gutter between sections */
  --paper-gut: calc(var(--paper-pad) - var(--paper-cut)); /* gutter between sections */

  --paper-shadow: 0 0.4px 2px 0.5px rgb(0 0 0 / 6%);
  --paper-radius: 0.5rem;

  --text-color: #37352f;
  --text-color-secondary: #73726e;

  --text-highlight-color: #fff;
  --text-highlight-bg: #fcfcfc;
  --text-highlight-radius: calc(var(--cm) / 20);

  --border-radius: 4px;

  --font-family: 'BreezeSans', 'Breeze Sans', -apple-system, Helvetica;
  --font-family-monospace: 'FiraCode', 'Fira Code', 'SF Mono Medium', 'Consolas', monospace;
}
