/** blockquote */

blockquote {
  margin: 0rem 0rem !important;
}

/** embeddings */

figure {
  margin: 0rem 0rem !important;
}

img {
  z-index: 5;

  max-width: unset !important;
  width: 100% !important;
  margin: calc(var(--rh) * 3) 0rem 0rem !important;
  padding: 0rem 0rem;
  border: none;

  background-color: var(--text-highlight-bg);
  border-radius: var(--text-highlight-radius);

  overflow: hidden;
}

/** tables */

table tr > * {
  padding: calc(var(--rh) / 4) var(--paper-gut);
}

table tbody tr:nth-of-type(odd) {
  background-color: var(--text-highlight-bg);
  border-radius: var(--text-highlight-radius);
} 

/** page break */

hr {
  z-index: 5;

  position: relative;

  height: calc(var(--paper-spl) + var(--paper-pad) * 2);
  margin: 0rem calc(0rem - var(--paper-pad) - 1px);

  background: var(--side-bar-bg-color);
  border: none;

  page-break-before: always;
  overflow: visible;

  border-top: var(--paper-pad) solid #fff;
  border-bottom: var(--paper-pad) solid #fff;
}

hr::before,
hr::after {
  z-index: 5;

  content: '';
  position: absolute;
  background-color: #fff;
  height: var(--paper-pad);

  pointer-events: none;
  border: 1px solid var(--type-800);
}

hr::before {
  inset: calc(0rem - var(--paper-pad)) 0rem auto 0rem;

  border-top: none;
  border-radius: 0rem 0rem var(--text-highlight-radius) var(--text-highlight-radius);
}
hr::after {
  inset: auto 0rem calc(0rem - var(--paper-pad)) 0rem;

  border-bottom: none;
  border-radius: var(--text-highlight-radius) var(--text-highlight-radius) 0rem 0rem;
}

@media print {
  hr {
    height: 0rem;
    margin: 0rem 0rem;
    border: none;
  }
  hr::before,
  hr::after {
    display: none;
  }
}

/** code */

#write > pre * {
  z-index: unset !important;
  padding: 0rem;
}

#write > pre {
  width: 100%;
  margin: 0rem 0rem;
  padding: var(--paper-gut) var(--paper-gut);

  background-color: var(--text-highlight-bg);
  border-radius: var(--text-highlight-radius);
}
#write > div[mdtype='html_block'] {
  margin: 0rem 0rem;
  padding: 0rem 0rem;
}

#write > p code {
  padding: 0.25rem 0.25rem;
  margin: -0.25rem 0rem;

  background-color: var(--text-highlight-bg);
  border-radius: var(--text-highlight-radius);
}

pre.CodeMirror-line {
  color: var(--code-a) !important; 
}

.cm-variable {
  color: var(--code-a) !important;
}

.cm-keyword {
  color: var(--code-f) !important;
}

.cm-tag {
  color: var(--code-b) !important;
}

.cm-variable-3 {
  color: var(--code-e) !important;
}

.cm-bracket,
.cm-error {
  color: var(--code-b) !important;
}

.cm-attribute {
  color: var(--code-f) !important;
}

.cm-def {
  color: var(--code-b) !important;
}

.cm-comment {
  color: var(--code-0) !important;
}

.cm-header {
  color: var(--code-a) !important;
}

.cm-string {
  color: var(--code-e) !important;
  font-variant-ligatures: common-ligatures !important;
}

.cm-operator {
  color: var(--code-0) !important;
}

.cm-number {
  color: var(--code-b) !important;
}

.cm-meta {
  color: var(--text-color) !important;
  font-weight: 700 !important;
}

.cm-atom {
  color: var(--code-f);
}

.cm-builtin {
  color: var(--code-e) !important;
}

.cm-property {
  color: var(--text-color) !important;
}

.cm-variable-2 {
  color: var(--text-color) !important;
}

.cm-variable-3 {
  color: var(--code-f);
}
