/*  */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);

  position: relative;
  width: 100% !important;

  padding: 0rem 0rem;
  margin: 0rem 0rem;
}

/*  */

a {
  color: inherit;
  text-decoration: inherit;
  font: inherit;
}

code,
pre,
pre * {
  font-family: var(--font-family-monospace) !important;
  font-size: 0.725rem !important;
  font-weight: 500 !important;

  line-height: calc(var(--rh) * 2) !important;
}

code {
  font-size: 0.875em !important; /* note: keep this in `em`!! */
}

/*  */

/* h1, */
table th,
table td,
p,
[mdtype='def_footnote'],
p em,
p strong {
  font-family: var(--font-family) !important;
  font-size: 0.8125rem !important;
  font-weight: 400 !important;

  line-height: calc(var(--rh) * 2) !important;
  color: var(--type-100) !important;
}

/** figure captions */
blockquote *:first-child + p:last-child,
blockquote *:first-child + p:last-child em,
blockquote *:first-child + p:last-child strong {
  font-size: 0.7rem !important;
  /* text-align: center; */
}

p code,
p em {
  color: var(--type-500) !important;
}

/* h1, */
table th,
p strong {
  color: var(--type-500) !important;
  font-weight: 500 !important;
}

/** headings */

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: calc(var(--rh) * 3);
  color: var(--type-500);
}

h2,
h3 {
  font-size: 1.075rem;
  font-weight: 500;
  line-height: calc(var(--rh) * 2);
  color: var(--type-500);
}

h4 {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: calc(var(--rh) * 2);
  color: var(--type-100);
}

h5,
h6 {
  font-size: 0.65rem;
  font-weight: 400;
  line-height: calc(var(--rh) * 3);
  color: var(--type-500);
}

/*  */

p,
h1,
h4 {
  margin: 0rem 0rem var(--text-gut);
}

p + h4/*,
h4 + p,
p + p*/ {
  margin-top: var(--text-mar);
}

h2 {
  margin: calc(var(--paper-pad) - var(--line-pad)) 0rem var(--text-mar);
  padding-top: calc(var(--line-pad) + var(--rh) / 2);

  border-top: 1px solid var(--type-700);
}

*[mdtype='hr'] + h2,
br + h2 {
  margin-top: 0rem;
}

h3 {
  margin: 0rem 0rem;
}

h5,
h6 {
  text-align: center;
  margin: 0rem 0rem calc(var(--rh) / 2);
}

/** header css counter */

/* --- */
/* TODO: Add the same for table of contents */
/* --- */

/* #write {
  counter-reset: h1;
}

h1 {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

h5 {
  counter-reset: h6;
}

#write h1:after {
  counter-increment: h1;
  content: counter(h1) ' ';
}

#write h2:after {
  counter-increment: h2;
  content: counter(h1) '.' counter(h2) ' ';
}

#write h3:after {
  counter-increment: h3;
  content: counter(h1) '.' counter(h2) '.' counter(h3) ' ';
}

#write h4:after {
  counter-increment: h4;
  content: counter(h1) '.' counter(h2) '.' counter(h3) '.' counter(h4) ' ';
}

#write h5:after {
  counter-increment: h5;
  content: counter(h1) '.' counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) ' ';
}

#write h6:after {
  counter-increment: h6;
  content: counter(h1) '.' counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '.' counter(h6) ' ';
}

#write h1:after,
#write h2:after,
#write h3:after,
#write h4:after,
#write h5:after,
#write h6:after {
  position: absolute;
  inset: auto 0rem 0rem auto;

  font-size: 0.8125rem;
  font-weight: 400;

  line-height: calc(var(--rh) * 2);

  white-space: normal;
  vertical-align: bottom;

  color: var(--type-500);
  outline: none;

} */

/* #write h1.md-focus:after,
#write h2.md-focus:after,
#write h3.md-focus:after,
#write h4.md-focus:after,
#write h5.md-focus:after,
#write h6.md-focus:after {
  position: absolute;
  inset: auto 0rem 0rem auto;
  visibility: hidden;
} */
